/*Universal Styles*/
html{
    width: 100%;
    height:100%;
}

* {
    font-family: serif !important;
}

a, button {
    text-decoration: none;
}

.share-story {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 3%;
}

.intro-student {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 40%;
    margin-bottom: 5%;
    margin-top: 2%;
}
.starttxt{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3em;
}

/*Introduction Subtext*/
.subtext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-style: italic;
    font-size: 1.5em;
}
h2{
    text-align: center;
}
@media (max-width: 700px) {
    .subtext {
        margin-top: 50vh;
    }
}

/*Sizing middle content box*/
.second-row, .im3 {
    height: 300px;
    max-height: 50vh;
}


/*Navigation bar*/
.navigation {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #04619fc4 130%);
    padding-bottom: 10px;
}

nav ul {
    align-self: center;
}

/*Header Image*/
.head-img {
    position: relative;
    text-align: center;
    color: white;
}

/*text in header*/


/*Styling rows*/

.first-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    margin-left: 15%;
    margin-top: 8%;
    margin-bottom: 2%;
    flex: 1;
    flex-wrap: wrap;
    
}

.fr-fc {
    flex: 2;
    margin-right: 1.5em;
}

.second-row {
    display: flex;
    flex-flow: wrap;
    width: 70vw;
    height: auto;
    margin-left: 10%;
    margin-bottom: 2%;
}

.im3 {
    width: 70vw;
    object-fit: cover;
    height: inherit;
}

.third-row {
    display: flex;
    margin-left: 5%;
    margin-bottom: 2%;
    width: 80vw;
    height: 400px;
}

.im4 {
    width: 80vw;
    object-fit: cover;
    height: 400px;
}

.fourth-row {
    display: flex;
    flex: 1 200px;
    flex-wrap: wrap;
    margin-left: 6%;
    width: 85vw;
}


.im5 {
    margin-right: 4%;
}

.im5, .im6 {
    object-fit: cover;
    width: 100%;
}

.fr-f {
    flex: 2 auto;
}

/*Readmore Button*/
.read-more {
    background-color: white;
    color: #0a53be;
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
    opacity: 1;
}

/*Styling the read story tag*/
.read-stories {

    display: none;
    position: relative;
    flex-wrap: wrap;
    min-height: 400px;
    background-color: #5387b0;
    background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
    /*Alternate color:#0a53be*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
    padding: 2%;
    width: 70vw;

    margin-left: 15%;
}

.story-n {
    align-self: center;
    padding: 3px;
    color: white;
}

.read-photo {
    width: 50%;
    height: 150px;
    object-fit: cover;
    background-color: yellow;
    align-content: center;

}

.read-story {
    word-wrap: break-word;
    font-weight: bold;
    font-family: Roboto, serif;
    color: white;
}


/*Arrow Image*/
.arr {
    position: absolute;
    width: 30px;
    height: 20px;
    left: 80%;
    top: 20%;
}

a, li {
    text-decoration: none;
}
li a:hover{
    color: rgb(93, 168, 244);
}
#storycontainer{
    transform: translate(13%, 0);
    width: 80%;
    height:80%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 50px 0px 50px 0px;
    background-color: #537895;
    background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
    box-shadow: 20px 20px 40px turquoise;
}
h1{
    padding: 2%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
}
.teamgallery{
    padding-top: 3%;
    padding-bottom: 3%;
    color: white;
    text-align: center;

}
.teambtn{
    width: 7%;
    margin-left: 2%;
    border-radius: 50%;
    border: 2px solid #537895;
    box-shadow: 20px 20px 40px turquoise;
}
.teambtn:hover{
    cursor: pointer;
}
#story-display{
    color: White;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: justify;
}
.storyh1{
    padding-top: 3%;
    color:black;
    font-size: 50px;
    
}
.commentcontainer{
    margin: auto;
    margin-bottom: 5%;
    width: 50%;
    height: 30% ;
    text-align: center;
    border: 5px solid #537895;
    padding-left: 2%;
    padding-right: 2%;
}
.hcb-wrapper-half{
    text-align: center;
}